/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.test
composer.lock

#gulp
public/swagger_local
node_modules
yamls/swagger_local.yaml
yamls/swagger.yaml
.scannerwork/
/public/upload/
/public/uploads/images/
/public/uploads/image/
temp.php
bootstrap/cache

public/qrcode/*
public/temp/*
!deploy/home/.env

#eclipse
.buildpath
.project
.settings

tests/**/_baseline/*

#public/apidoc

public/test-result/report

# Zend Studio
/.settings
.project
.buildpath

